:root{
--Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);

--font-400: 400;
--font-600: 600;
--font-700: 700;

}

*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex__align{
    align-items: center;
}

.flex__justify{
    justify-content: center;
}

.inner__container{
    max-width: 144rem;
    margin: 0 auto;
}

.ver__padd{
   padding-left: 4rem;
   padding-right: 4rem;
}


/* === start of hero === */

.header{
    /* padding-top: 4.5rem;
    padding-bottom: 4.5rem; */
}

.header__content{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    justify-content: space-between;
    align-items: center;
}

.header__content img{
    /* max-width: 20rem; */
    width: calc(8rem + 10vw);
    min-width: 12rem;
    max-width: 24rem;
}

.btn{
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.header__btn{
    border: 0.1rem solid var(--Light-Pink);
    background-color: white;
    padding: 0.3rem 2.5rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: var(--Light-Pink);
    transition: all 0.3s ease-in-out;
}

.header__btn:hover{
    background-color: var(--Light-Pink);
    border-color: transparent;
    color: white;
}

.hero__content{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.hero__text{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    text-align: center;
}

.hero__text h1{
    /* font-size: 4.5rem; */
    font-size: clamp(2.5rem, 3vw, 4.5rem);
}

.hero__text p{
    max-width: 55rem;
    margin: 3rem auto;
    font-size: 1.8rem;
}

.heading{
    font-family: 'Poppins', sans-serif;
}

.cta__btn{
    padding: 1.5rem 7rem;
    background-color: var(--Pink);
    color: white;
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    font-weight: var(--font-600);
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.cta__btn:hover{
    opacity: 0.8;
}

.hero__img{ 
    margin-top: 2rem;
}

.hero__img img{
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
/* === end of hero === */


/* === start of numbers === */

     .numbers{
         background-image: url('images/bg-section-top-desktop-1.svg');
         background-repeat: no-repeat;
         background-position: bottom;
         background-size: contain;
     }

      .numbers__content{
          padding-top: 4rem;
          padding-bottom: 18rem;
          justify-content: space-around;
      }

      .numbers__detail{
          flex-direction: column;
          align-items: center;
          padding: 4rem 0;
      }
      .numbers__detail img{
          align-self: flex-start;
              max-width: 3.5rem;
      }

      .numbers__detail h2{
        font-size: clamp(5rem, 5vw, 7rem);
      }

      .numbers__detail span{
        font-size: clamp(1.4rem, 1.5vw, 1.6rem);
          color: gray;
      }
/* === end of numbers === */


/* === start of info === */


/* === start of info-1 === */
.info{
         background-color: var(--Very-Pale-Blue);
     }

     .info__wrapper{
        width: 90%;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 8rem;
     }

     .info__text, .info__img__wrapper{
         flex-basis: 100%;
     }

     .info__text p{
        font-size: clamp(1.4rem, 1.5vw, 1.6rem);
        margin: 1rem 0;
     }

     .info__img__wrapper img{
         max-width: 100%;
         display: block;
     }
  /* === end of info-1 === */
   

  /* === start of info-2 === */
       
     .info-2{
         background:  url('images/bg-section-bottom-desktop-1.svg'), url('images/bg-section-top-desktop-2.svg'), white;
         background-repeat: no-repeat;
         background-position: top, bottom;
         background-size: contain;
     }

     .info__wrapper-2{
         padding-top: 28rem;
         padding-bottom: 25rem;
     }

     .info__wrapper-2 .info__text{
         order: 1;
     }
      
  /* === end of info-2 === */



/* === end of info === */


/* === start of cta === */

  .cta{
      background: url('images/bg-section-bottom-desktop-2.svg'), url('images/bg-footer-top-desktop.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top, bottom;
  }

   .cta__content{
       padding-top: 25rem;
       padding-bottom: 25rem;
       text-align: center;
   }
   
   .cta__content h2{
       font-size: clamp(2.5rem , 3vw, 3.5rem);
       margin-bottom: 3rem;
   }
/* === end of cta === */


@media screen and (max-width: 1200px) {
  
  }
 
   @media screen and (max-width: 1024px) {


     }
     
   @media screen and (max-width: 768px) {
         
    
/* === start of numbers === */
 
    .numbers{
              background-image: url('images/bg-section-top-mobile-1.svg');
          }

          .numbers__content{
            padding-bottom: 10rem;
          }

/* === end of numbers === */



/* === start of info === */

     .info__wrapper{
    width: 100%;
    flex-direction: column;
    text-align: center;
    }

    .info__wrapper .info__text{
        order: 1;     
    }

/* === start of info-2 === */

    .info-2{
        background:  url('images/bg-section-bottom-mobile-1.svg'), url('images/bg-section-top-mobile-2.svg'), white;
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: contain;
    }

/* === end of info-2 === */


/* === end of info === */

/* === start of cta === */

.cta{
    background: url('images/bg-section-bottom-mobile-2.svg'), url('images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top, bottom;
}
/* === end of cta === */



       }

   @media screen and (max-width: 550px) {
     .ver__padd{
         padding-left: 2rem;
         padding-right: 2rem;
     }      

     /* === start of hero === */

    .header__btn{
                font-size: 1.4rem;
                padding: 0.3rem 2rem;
            }
    
    .hero__img{
        margin-top: 4rem;
    }       

    /* === end of hero === */
 

    
    /* === start of numbers === */
     .numbers__content{
         flex-direction: column;
         align-items: center;
     }     
    /* === end of numbers === */
            
      }


   @media screen and (max-width: 480px) {
  
     }
    